.section-title {
  margin: 30px;
  span {
    font-size: 20px;
    font-weight: bold;
    color: #0d5ff9;
    text-align: right;
    display: block;
  }

  h2 {
    font-size: 25px;
    font-weight: 600;
  }
}
.features {
  text-align: right;
}
p {
  color: #777;
}

.features .section-title span,
.features .section-title h2 {
  text-align: right;
}

.feature-item {
  direction: rtl;
  text-align: right;
}

.feature-item {
  border: 2px solid #f5f5f5;
  padding: 80px 30px 50px;
  text-align: center;
  position: relative;
  transition: 0.5s;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  max-height: 1300px;

  &:hover {
    transform: translateY(-10px);
    border-radius: 10px 50px 10px 10px;
    border: 1px solid #0d5ff9;
  }

  .fea-icon {
    margin-bottom: 20px;
    svg {
      width: 40px;
      height: 40px;
      transition: fill 0.3s ease;
    }
  }

  .feature-content h4 {
    font-size: 20px;
    transition: 0.5s;
    color: #333;
  }

  .feature-content p {
    transition: 0.5s;
    margin-bottom: 0;
    font-size: 14px;
    color: #777;
  }

  &:hover {
    .fea-icon svg {
      fill: #0d5ff9; /* Change SVG color on hover */
    }
  }
}
.feature-number {
  background: #0d5ff9;
  color: #fff;
  border-radius: 0 0 7px 7px;
  padding: 0 8px;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 31px;
  line-height: 33px;
  width: 24px;
}
.features {
  direction: rtl; /* Change direction to right-to-left */
}

.feature-item {
  text-align: center; /* Align text to the right inside the feature item */
}

.container-fluid {
  text-align: right;
}

.feature-number {
  left: 20px;
}

.fea-icon svg {
  transform: scaleX(-1);
}
