<div class="container-fluid features">
  <div class="row">
    <div class="col-12 text-center">
      <div class="section-title">
        <span>الميزات</span>
        <h2>منصة واحدة، العديد من الدورات</h2>
      </div>
    </div>

    <!-- Start Feature Loop -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let feature of features">
      <div class="feature-item">
        <span class="feature-number">{{ feature.id }}</span>

        <div class="fea-icon">
          <ng-container *ngIf="feature.iconType === 'svg'; else imageBlock">
            <div [innerHTML]="feature.iconSvg"></div>
          </ng-container>
          <ng-template #imageBlock>
            <img [src]="feature.iconImg" [alt]="feature.title" width="140" loading="lazy"
              [ngStyle]="feature.imageStyle || {}" />
          </ng-template>
        </div>

        <div class="feature-content">
          <h3 class="fea-title">{{ feature.title }}</h3>
          <p class="fea-desc">{{ feature.description }}</p>
        </div>
      </div>
    </div>
    <!-- End Feature Loop -->
  </div>
  <app-counter></app-counter>
</div>