<app-header></app-header>
<app-about-us id="about" appInViewport animationType="slide-bottom"></app-about-us>
<app-back-to-top></app-back-to-top>
<app-feature id="features" appInViewport animationType="slide-bottom"></app-feature>
<app-our-services id="our-services" appInViewport animationType="slide-bottom"></app-our-services>
<app-packages id="packages" appInViewport animationType="slide-bottom"></app-packages>
<app-contact id="contact" appInViewport animationType="slide-bottom"></app-contact>
<app-footer appInViewport animationType="slide-bottom"></app-footer>