<app-header></app-header>
<app-back-to-top></app-back-to-top>
<app-about-us id="about"></app-about-us>
<app-student-journey id="student-journey"></app-student-journey>
<app-feature id="features" appInViewport class="slide-up stagger-3" ></app-feature>
<app-our-services id="our-services" appInViewport class="slide-up stagger-1" ></app-our-services>
<app-packages id="packages" appInViewport class="slide-up stagger-1" ></app-packages>
<app-contact id="contact" appInViewport class="slide-up stagger-1" ></app-contact>
<app-footer appInViewport animationType="slide-bottom-emerge"></app-footer>
