<section
  class="about-us-section d-flex align-items-center justify-content-center text-center text-white min-vh-100 animate-on-scroll"
  appInViewport
>
  <div class="slider w-100">
    <div
      *ngFor="let slide of slides; let i = index"
      class="slide"
      [class.active]="currentSlide === i"
      [style.backgroundImage]="'url(' + slide + ')'"
    ></div>
    <div class="overlay"></div>
  </div>

  <div class="container position-relative z-2 px-3 px-md-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="fw-bold fs-5 mb-4 mt-5">مدرسة أجيال القرآن</h2>
        <p class="lead mb-4 fs-6 fs-md-5">
          مدرسة أجيال القرآن مدرسة أجيال القرآن هي مؤسسة تعليمية تهدف إلى تربية
          وتعليم الأجيال على منهج القرآن الكريم والسنة النبوية الشريفة. نحرص على
          تقديم تعليم متميز يجمع بين العلوم الشرعية والمعارف الحديثة، مع التركيز
          على بناء شخصية الطالب بشكل متكامل من الناحيتين الدينية والعلمية. نلتزم
          بتوفير بيئة تعليمية محفزة، تضم مجموعة من المعلمين المتخصصين ذوي الخبرة
          العالية في تدريس القرآن الكريم والعلوم الإسلامية، إلى جانب تدريب
          طلابنا على المهارات الحياتية والعلمية التي تؤهلهم للمستقبل. كما نولي
          اهتماماً خاصاً بتطوير مهارات التفكير النقدي والإبداعي لدى الطلاب. نسعى
          في مدرسة أجيال القرآن إلى أن نكون من الرواد في تقديم نموذج تعليمي
          متميز يرتقي بالمستوى الأكاديمي والديني لطلابنا ويؤهلهم ليكونوا قادة
          المستقبل.
        </p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <span
      *ngFor="let slide of slides; let i = index"
      class="dot"
      [class.active]="currentSlide === i"
      (click)="setCurrentSlide(i)"
    ></span>
  </div>
</section>

<app-slider appInViewport animationType="slide-bottom"></app-slider>
