<div class="container-fluid home-banner">
  <div class="row">
    <h2>About Us</h2>
    <div class="col-md-8">
      <p>
        مدرسة أجيال القرآن مدرسة أجيال القرآن هي مؤسسة تعليمية تهدف إلى تربية
        وتعليم الأجيال على منهج القرآن الكريم والسنة النبوية الشريفة. نحرص على
        تقديم تعليم متميز يجمع بين العلوم الشرعية والمعارف الحديثة، مع التركيز
        على بناء شخصية الطالب بشكل متكامل من الناحيتين الدينية والعلمية. نلتزم
        بتوفير بيئة تعليمية محفزة، تضم مجموعة من المعلمين المتخصصين ذوي الخبرة
        العالية في تدريس القرآن الكريم والعلوم الإسلامية، إلى جانب تدريب طلابنا
        على المهارات الحياتية والعلمية التي تؤهلهم للمستقبل. كما نولي اهتماماً
        خاصاً بتطوير مهارات التفكير النقدي والإبداعي لدى الطلاب. نسعى في مدرسة
        أجيال القرآن إلى أن نكون من الرواد في تقديم نموذج تعليمي متميز يرتقي
        بالمستوى الأكاديمي والديني لطلابنا ويؤهلهم ليكونوا قادة المستقبل.
      </p>
    </div>
    <div class="col-md-4">
      <div class="banner_img">
        <div class="banner_img_inner moeffect">
          <img src="https://ajyalalquran.somee.com/assets/images/agialLogo.jpg" alt="logo" class="img-navbar"
            load="lazy" />
        </div>
      </div>
    </div>

    <div class="bg_shapes moeffect">
      <div class="bshape1 eitem" value="1" style="transform: translateX(23.8778px) translateY(-6.61111px)"></div>

      <div class="bshape2 eitem" value="2.5" style="transform: translateX(18.2778px) translateY(-22.3944px)"></div>

      <div class="bshape3 eitem" value="-1.5" style="transform: translateX(33.2111px) translateY(19.6944px)"></div>

      <div class="bshape4 eitem" value="2" style="transform: translateX(20.1444px) translateY(-17.1333px)"></div>
    </div>
    <div class="bwavehape"></div>
  </div>
</div>
<app-slider></app-slider>