@font-face {
  font-family: "SuisseIntl";
  src: url("./assets/fonts/font/SuisseIntl-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("./assets/fonts/font/SuisseIntl-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("./assets/fonts/font/SuisseIntl-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SuisseIntl", sans-serif;
}

html,
body {
  height: 100%;
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
textarea {
  font-family: "SuisseIntl", sans-serif;
}
